<div class="stylist">
	<div class="stylist_img">
		<% if employee.stylist.image.to_s == "" %>
			<%= image_tag "no_picture.png" %>
		<% else %>
			<%= image_tag employee.stylist.image_url(:thumb).to_s %>
		<% end %>
	</div>
	<%= link_to employee.stylist.name, employee.stylist %>
	<div class="bio">
		<%= employee.stylist.bio %>
	</div>

	<%= link_to "Book with #{employee.stylist.name.split[0]}", new_appointment_path(employee_id: employee.id) %>
</div>


