<h3>Great News! A New Appointment Request!</h3>
<p>
Dear <%= @stylist.name %>
</p>

<p>
<%= @client.name %> requested an appointment with you on <%= @appointment.appointment_time.strftime('%m/%d/%Y at %l:%M %p') %>
</p>
<p>
	<h3>Services Requested: </h3>
	<ul>
		<% @appointment.services.each do |service| %>
		<li><%= service.name %></li>
		<% end %>
	</ul>
<p>
	They also said: <blockquote>
		<%=h @appointment.note %>
		</blockquote>
</p>
<h4>Next Action</h4>
<p>
	You need to confirm this appointment to let your customer know you have accepted their request.
	For your convenience, you can confirm the appointment by click here, 
	<%= link_to 'Confirm This Appointment', confirm_appointment_url(@appointment) %>
</p>
<p>
	If this appointment time does not work for you, please either suggest an alternate time
	or cancel this request. You can log in to Madrilla and select "Appointments requiring my attention"
	or click here to go directly to this appointment.
</p>
<p>
	<%= link_to 'Appointment Details', appointment_url(@appointment) %>
</p>
<p>
	<em>Contact information for <%= @client.name %>:</em><br/>
	Email: <%= @client.email %><br/>
	Phone: <%= @client.phone %><br/>
	Alternate Phone: <%= @client.alternate_phone %><br/>
</p>

 
<hr/>
<p>
	Thank you for using <%= link_to "Madrilla", root_url %> for your appointment booking needs.
</p>

