<% provide(:title, "Edit Profile") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @user, :html => {:multipart => true} do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.hidden_field :password_reset_required, value: '0' %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :phone, "Mobile Phone" %>
      <%= f.telephone_field :phone %>

      <%= f.label :wireless_provider_id %> <span class="table_subtitle">(We only use this to send you text message reminders and notifications. Standard text messaging rates apply.)</span>
      <%= f.select :wireless_provider_id, WirelessProvider.all.collect {|p| [p.description, p.id] } %>

      <%= f.label :alternate_phone %>
      <%= f.telephone_field :alternate_phone %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :image, "Upload Picture (optional)" %>
      <%= f.file_field :image %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>