<% provide(:title, @user.name) %>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @user.name %>
			</h1>

			<% if @user.salons.count > 0 %>
			<% @user.salons.each do |salon| %>
				<div>
					<%= link_to salon.name, salon %><br/>
				
					<%= salon.address %><br/>
					<%= salon.city %>, <%= salon.state %> <%= salon.zip %>
			</div>
			<% end %>
			<% end %>
		</section>
	</aside>
</div>
