<div id="salon<%= salon.id %>">
	<h1>
		<%= link_to salon.name, salon %>
	</h1>
	<%= salon.address %><br/>
	<%= salon.city %>, <%= salon.state %> <%= salon.zip %>
	<br/>
	<%= link_to "Salon Web Site", salon.url, { "target" => "_blank" } %>
	<br/>

	<%= button_to "Select this salon", get_stylists_path(salon), 
		{ class: "btn btn-large", id: "stylist_btn",  remote: true } %>

</div>