
<tr>

	<td>
		<b><%= link_to salon.name, salon %></b><br>
		<%= salon.address %><br/>
		<%= salon.city %>, <%= salon.state %> <%= salon.zip %><br/>
		<%= salon.phone %>
		<%= link_to "Web site", salon.url, { "target" => "_blank" } %>
	</td>

	
	<td>	
  	<%= link_to 'Edit', edit_salon_path(salon) if current_user.admin? %>
  </td>
  <td>
	  <%= link_to "Delete", salon, method: :delete, 
  				data: { confirm: "Are you sure you want to delete this salon?" } if current_user.admin? %>
  </td>

</tr>
	

</div>

