<% provide(:title, "Edit Salon") %> 
<h1>Update Your Salon Profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @salon, :html => {:multipart => true } do |f| %>
      <!-- %= #render 'shared/error_messages' %> -->

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.label :city %>
      <%= f.text_field :city %>

      <%= f.label :state %>
      <%= f.text_field :state %>

      <%= f.label :zip %>
      <%= f.text_field :zip %>

      <%= f.label :phone %>
      <%= f.phone_field :phone %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :url %>
      <%= f.text_field :url %>

      <%= f.label :sunday_hours %>
      <%= f.text_field :sunday_hours %>

      <%= f.label :monday_hours %>
      <%= f.text_field :monday_hours %>

      <%= f.label :tuesday_hours %>
      <%= f.text_field :tuesday_hours %>

      <%= f.label :wednesday_hours %>
      <%= f.text_field :wednesday_hours %>

      <%= f.label :thursday_hours %>
      <%= f.text_field :thursday_hours %>

      <%= f.label :friday_hours %>
      <%= f.text_field :friday_hours %>

      <%= f.label :saturday_hours %>
      <%= f.text_field :saturday_hours %>

      <%= f.label :image %>
      <%= f.file_field :image %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>