<% provide(:title, 'All Salons') %>

<div class="row">
	<aside class="span2 offset2">
		<section>
			<h1>Salon List</h1>
			<p class="alert">
				If you don't see 
			the salon you are interested in listed here, 
			<%= link_to "contact us", contact_path %> and we'll
			see about getting them added as soon as possible.
			</p>
		</section>
	</aside>

	<section class="span4">

		<%= will_paginate %>
		<ul class="salons">

			<%= render @salons %>
			
		</ul>

		<%= link_to 'New Salon', new_salon_path if current_user.admin? %>
		<%= will_paginate %>
	</section>
</div>
