<% provide(:title, @salon.name) %>

<div class="row">
	<aside class="span4">
		<section>

			<%= render @salon %>			


			<p>
				<%= button_to 'Book an appointment', select_stylist_path, class: "btn btn-medium btn-primary" %>
			</p>
		
		

		<% if @salon.salon_admin?(current_user) || current_user.admin? %>
		<h3>Add a Stylist to <%= @salon.name %></h3>
		<div id="newStylist">
			<%= form_for([@salon, @employee]) do |f| %>
			<div>
				<%= f.label :name %>
				<%= f.text_field :name %>
			</div>
			<div>
		 		<%= f.label :email %>
				<%= f.email_field :email %>
			</div>
			<div>
				<%= f.submit "Add New Stylist", class: "btn btn-medium" %>
			</div>
			<% end %>
		</div>
		<% end %>

		</section>
	</aside>

	<section class="span6">
		<div id="stylists">
			<h3>Stylists</h3>
			<%= render @salon.employees %>
		</div>
	</section>

</div>

<%= link_to 'Salon List', salons_path %>

