<% provide(:title, @salon.name) %>

<div class="row">
	<aside class="span3">
		<section>

			<h1><%= @salon.name %></h1>
			<%= @salon.address %><br/>
			<%= @salon.city %>, <%= @salon.state %> <%= @salon.zip %><br/>
			<%= link_to "Web site", @salon.url %>


			<!--
			<p>
				< % = button_to 'Book an appointment', select_stylist_path, class: "btn btn-medium btn-primary" % >
			</p>
		
			-->


			<!-- 
			TODO: reimplement this add stylist logic

		< % if @salon.salon_admin?(current_user) || current_user.admin? % >
		<div id="new_stylist">
			<h3>Add a Stylist</h3>
			< % = form_for([@salon, @stylist]) do |f| % >
			<div>
				< % = f.label :name % >
				< % = f.text_field :name % >
			</div>
			<div>
		 		< % = f.label :email % >
				< % = f.email_field :email % >
			</div>
			<div>
				< % = f.submit "Add New Stylist", class: "btn btn-small" % >
			</div>
			< % end % >
		</div>
		< % end % >
	-->

		</section>
	</aside>

	<section class="span3">
		<div id="stylists">
			<h3>Stylists</h3>
			<%= render @salon.employees %>
		</div>
	</section>

	<section class="span5">
		<div id="services">
			<h3>Services</h3>
			<p class="alert">
				Prices shown below are <i>starting prices</i>.
				Final prices will be determined after consultation.
			</p>
			<table>
				<tr>
					<th>Service</th><th>Starting Price</th>
				</tr>

				<%= render @salon.services%>
			</table>
		</div>
	</section>

</div>

<%= link_to 'Salon List', salons_path %>

