<% provide(:title, @salon.name) %>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @salon.name %>
			</h1>
			<%= @salon.address %>,
			<%= @salon.city %>, <%= @salon.state %> <%= @salon.zip %>
			<br/>
			<%= link_to "Web Site", @salon.url %>

		<!-- 
			<div id="stylists">
				<h3>Stylists at <%= @salon.name %></h3>
				<ul>
					< % @salon.stylists.each do |stylist| % >
					<li>< %= stylist.name % ></li>
					< % end % >
				</ul>
		</div>
	-->

	<!--
		<div id="newStylist">
			< % = form_for([@salon, @employee]) do |f| % >
			<div>
				< %= f.label :name % >
				< %= f.text_field :name % >
			</div>
			<div>
		 		< %= f.label :email % >
				< %= f.email_field :email % >
			</div>
			<div>
				< %= f.submit "Add New Stylist" % >
			</div>
			< % end % >
		</div>
	-->

		</section>
	</aside>

</div>
<%= link_to 'Salon List', salons_path %>

