
<tr>
	<td>
	Stylist
	</td>
	<td>
  	<%= link_to stylist.name, stylist %>
  </td>
	<td>
		<%= stylist.email %>
	</td>
	<td>
		<%= stylist.phone %>
	</td>
	<td>
		<%= stylist.created_at %>
	</td>
	<td>
		<%= stylist.confirmed ? "Yes" : "No" %>
	</td>
  <td>
  <% if current_user.admin? && !current_user?(stylist) %>
  	<%= link_to "delete", stylist, method: :delete, 
  				data: { confirm: "You sure?" } %>
  <% end %>
 	</td>
 	<td>
 		<%= button_to "Select this stylist", new_appointment_path(employee_id: stylist.id), 
 			{ class: "btn btn-small", remote: true } %>
 	</td>

</tr>
