<h1>Listing wireless_providers</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Domain</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wireless_providers.each do |wireless_provider| %>
  <tr>
    <td><%= wireless_provider.description %></td>
    <td><%= wireless_provider.domain %></td>
    <td><%= link_to 'Show', wireless_provider %></td>
    <td><%= link_to 'Edit', edit_wireless_provider_path(wireless_provider) %></td>
    <td><%= link_to 'Destroy', wireless_provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wireless provider', new_wireless_provider_path %>
