<tr class="<%= cycle("odd", "even") %>">
  <td><%= link_to appointment.appointment_time.strftime('%m/%d/%Y') + " at " +
  	appointment.appointment_time.strftime(' %l:%M %p') , appointment %></td>

	<td><%= link_to appointment.salon.name, appointment.salon %> </td>

	<td><%= link_to @user.stylist? ? appointment.client.name : appointment.stylist.name,
		@user.stylist? ? appointment.client : appointment.stylist %></td>

	<td><%= appointment.status %></td>

  <td>
    <% if current_user == appointment.stylist && appointment.pending_stylist_approval? %>
      <%= button_to 'Confirm', confirm_appointment_path(appointment), class: "btn btn-small" %>
    <% else %>

      <%= button_to 'Confirm', confirm_appointment_path(appointment), 
      	class: "btn btn-small" if current_user == appointment.client && appointment.pending_client_approval? %>

    <% end %>
  </td>

	<td>
		<%= button_to 'Cancel', cancel_appointment_path(appointment), confirm: "Are you sure you want to cancel this appointment?", class: "btn btn-small" if !appointment.canceled? %>
	</td>
	<td>
		<%= button_to 'Change', edit_appointment_path(appointment), method: :get, class: "btn btn-small" if !appointment.canceled? %>
	</td>

</tr>

