<h1>Your Upcoming Appointments</h1>

<% @appointments.each do |appointment| %>
  <p>
  Appointment Date: <%= appointment.appointment_time.strftime("%m/%d/%Y") %><br/>
  Appointment Time: <%= appointment.appointment_time.strftime("%l:%M %p") %><br/>
  with <%= appointment.stylist.name %> at <%= appointment.salon.name %><br/>
  Phone <%= appointment.salon.phone %><br/>
  Email: <%= appointment.stylist.email %>
  <br/>
  
  <%= button_to 'Confirm', confirm_appointment_path(appointment), class: "btn btn-small" if appointment.pending_client_approval? %>

  <%= button_to 'Cancel', cancel_appointment_path(appointment), class: "btn btn-small" if !appointment.canceled? %>
  <%= button_to 'Change', edit_appointment_path(appointment), method: :get, class: "btn btn-small" if !appointment.canceled? %>

  </p>
<% end %>