<div class="row">

<%= form_for(@appointment) do |f| %>

  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <aside class="span3">
    <section>
      <div class="field">
        <%= f.hidden_field :customer_id %>
      </div>
      <div class="field">
        <%= f.label :employee_id, "Your Stylist" %>
        <%= image_tag @appointment.stylist.image_url(:thumb).to_s unless @appointment.stylist.image_url == nil %>
        <br/>
        <%= @appointment.stylist.name %>
        <%= f.hidden_field :employee_id %>
      </div>
    </section>
  </aside>

  <section class="span6">
    <div class="field">
      <%= f.hidden_field :appointment_time %>
      <%= f.label :appointment_time, "Select Date and Time:" %><br/>
      <%= text_field_tag 'appt_date' %>

    </div>
    <div class="field">
      <%= label_tag 'appt_time', "Appointment time: " %>
      <%= select_tag 'appt_time', '<option value="8:00">8:00 am</option><option value="9:00">9:00 am</option><option value="10:00">10:00 am</option><option value="11:00">11:00 am</option><option value="12:00">12:00 pm</option><option value="13:00">1:00 pm</option><option value="14:00">2:00 pm</option><option value="15:00">3:00 pm</option><option value="16:00">4:00 pm</option><option value="17:00">5:00 pm</option><option value="18:00">6:00 pm</option><option value="19:00">7:00 pm</option>'.html_safe %>
    </div>
    <div class="field">
      <%= f.label :note, "Add a note (255 chars max)" %>
      <%= f.text_area :note, cols: 40, rows: 3, maxlength: 255 %>
    </div>
    <div class="actions">
      <%= f.submit class: "btn btn-large btn-primary" %>
    </div>
  </section>
<% end %>
</div>
