<h2>My Appointments</h2>

<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Client Name</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appointments.each do |appointment| %>
  <tr>
    <td><%= link_to appointment.appointment_time.strftime('%m/%d/%Y'), appointment %></td>
    <td><%= appointment.appointment_time.strftime(' %l:%M %p') %></td>
    <td><%= appointment.client.name %></td>
    <td><%= appointment.status %></td>
    <td>
      <%= button_to 'Confirm', confirm_appointment_path(appointment), class: "btn btn-small" if appointment.pending_stylist_approval? %>
    </td>
    <td>
      <%= button_to 'Change', edit_appointment_path(appointment), method: :get, class: "btn btn-small" if !appointment.canceled? %>
    </td>
    <td>
      <%= button_to 'Cancel', cancel_appointment_path(appointment), class: "btn btn-small" if !appointment.canceled? %>
    </td>
  </tr>
<% end %>
</table>
