<h1>Listing appointments</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Employee</th>
    <th>Appointment time</th>
    <th>Stylist confirmed?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appointments.each do |appointment| %>
  <tr>
    <td><%= appointment.client.name %></td>
    <td><%= appointment.stylist.name %></td>
    <td><%= appointment.appointment_time %></td>
    <td><%= appointment.stylist_confirmed %></td>
    <td><%= link_to 'Show', appointment %></td>
    <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
    <td><%= link_to 'Destroy', appointment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

