<p id="notice"><%= notice %></p>

<% if current_user.admin? %>
	<h1>All Appointments</h1>

	<table>
		<tr>
			<th>Stylist</th>
			<th>Client</th>
			<th>Salon</th>
			<th>Date</th>
			<th>Time</th>
			<th>Status</th>

		</tr>
		<% @appointments.each do |appointment| %>
		<tr>
			
			<td><%= link_to appointment.stylist.name, appointment.stylist unless appointment.stylist.nil? %></td>
			<td><%= link_to appointment.client.name, appointment.client unless appointment.client.nil? %></td>
			<td><%= link_to appointment.salon.name, appointment.salon unless appointment.salon.nil? %></td>
			<td><%= appointment.appointment_time.strftime("%m/%d/%Y") %></td>
			<td><%= appointment.appointment_time.strftime("%l:%M %p") %></td>
			<td><%= appointment.status %></td>
		</tr>

		<% end %>
	</table>

<% else %>

	<h1>Your Upcoming Appointments</h1>

	<% if current_user.stylist? %>
	  <%= render "stylist" %>
	<% else %>
	  <%= render "client" %>
	<% end %>

<% end %>