<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @appointment.customer_id %>
</p>

<p>
  <b>Employee:</b>
  <%= @appointment.employee_id %>
</p>

<p>
  <b>Appointment time:</b>
  <%= @appointment.appointment_time %>
</p>

<p>
  <b>Stylist confirmed:</b>
  <%= @appointment.stylist_confirmed %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
