<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @appointment.client.name %>
</p>

<p>
  <b>Stylist:</b>
  <%= @appointment.stylist.name %>
</p>

<p>
  <b>Appointment time:</b>
  <%= @appointment.appointment_time %>
</p>

<p>
  <b>Stylist confirmed?:</b>
  <% if @appointment.stylist_confirmed %>
  	Yes
  <% else %>
    No
  <% end %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
